#numFact{
    margin-left: 5rem;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 1px 2px 10px rgb(170, 170, 170);
    border-radius: 13px;
    width: 20rem;
    height: 15rem;
}
#numFact2{
    margin-left:44rem;
    margin-top: -16.5rem;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 1px 2px 10px rgb(170, 170, 170);
    border-radius: 13px;
    width: 20rem;
    height: 15rem;
}
a{
    text-decoration: none;
    color: black;
}


#form1{
    margin-right: 40rem;
    padding-top: 30px;
}
#form2{
    position: absolute;
    margin-left: 44rem;
    margin-top: -5rem;
}

#num{
    border-radius: 12px;
    border:1px solid white;
    box-shadow: 0px 0px 10px grey;
    background-color: white;
}
#nums{
    border-radius: 12px;
    border:1px solid white;
    box-shadow: 0px 0px 10px grey;
    background-color: white;
}