body{
    background-color: rgb(76, 148, 76);
}
h1{
    color:white
}
a{
    text-decoration: none;
    color: white;
}

#cardDiv{
    margin-left:26rem;
    margin-top: 5rem;
    background-color: white;
    box-shadow: 0px 0px 15px rgb(147, 255, 147);
    border: white;
    border-style:double;
    border-radius: 10px;
    width: 20rem;
    height: 15rem;

}
#shuffleDeck{
    
    margin-left: 1rem;
    
}
#pickCard{
    margin-left: 5rem;
    margin-top: 0;
    top: 20px;
}
img #c1{
    
    transform: rotate(30deg);
    position: absolute;
    top: 20;
    left: 26rem;
    
}
#c2{
    transform: rotate(0deg);
    position: absolute;
    top: 20;
    left: 26rem;
    
}
#c3{
    transform: rotate(40deg);
    position: absolute;
    top: 20;
    left: 26rem;
}
#c4{
    transform: rotate(70deg);
    position: absolute;
    top: 20;
    left: 26rem;
}
#c5{
    transform: rotate(0deg);
    position: absolute;
    top: 20;
    left: 26rem;
}
#c6{
    transform: rotate(5deg);
    position: absolute;
    top: 20;
    left: 26rem;
}
#c7{
    transform: rotate(80deg);
    position: absolute;
    top: 20;
    left: 26rem;
}
#c8{
    transform: rotate(100deg);
    position: absolute;
    top: 20;
    left: 26rem;
}
#c9{
    transform: rotate(360deg);
    position: absolute;
    top: 20;
    left: 26rem;
}
